<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.davemartin.abode"
    version     = "0.1.0" >

  <!-- versionCode is optional and Android only -->

  <name>Abode</name>

  <description>
    House sharing app.
  </description>

  <author email="dwmartin41@gmail.com">
    Dave Martin
  </author>
  
  <gap:platform name="android" />
  <gap:platform name="winphone" />

  <access origin="*" />

  <preference name="WebViewBounce" value="false" />

  <preference name="DisallowOverscroll" value="true" />

  <preference name="UIWebViewBounce" value="false" />
  
  <icon src="Content/images/houseIcon.png" />

  <gap:plugin name="org.apache.cordova.device" />

  <preference name="android-minSdkVersion" value="11" />
  <preference name="android-targetSdkVersion" value="16" />
</widget>
