<html ng-app="App" ng-controller="appController" ng-cloak breakpoint="{0: 'hideSidebar', 1000: 'showSidebar'}">
<head>
    <meta charset="utf-8" />
    <script src="phonegap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title ng-bind="getTitle()">Abode</title>
</head>
<body>
    <div class="container">
        <div class="app" ng-class="options.transitionType">
            <div ui-view="header" class="header row"></div>
            <div ui-view="main" class="main row"></div>
        </div>
    </div>
    
    <link rel="stylesheet" href="Content/combined.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="globalConfig.js"></script>
    <script src="Scripts/combined.js"></script>
</body>
</html>
