<html ng-app="App" ng-controller="appController" ng-cloak breakpoint="{0: 'hideSidebar', 1400: 'showSidebar'}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <title ng-bind="getTitle()">Abode</title>
        <link rel="stylesheet" href="Content/combined.css" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <div class="app slide-left">
            <div ui-view="header" class="header row"></div>
            <div ui-view="main" class="main row"></div>
        </div>
    </div>
    
    <script src="cordova.js"></script>
    <script src="Scripts/combined.js"></script>
    <script>
        window.onerror = function (errorMsg, url, lineNumber) {
            alert(errorMsg);
            alert(url);
            alert(lineNumber);
        }
    </script>
</body>
</html>
