<div class="jumbotron text-center">
    <div>
        <h2>Thanks for using Abode <i class="fa fa-heart"></i>!</h2>
        <p>
            Abode is an app that acts like a house noticeboard. I initially wrote the app purely as a hobby project, over the course of a few months. 
            Your level of interest will determine how often I'll add new features/fix bugs, so if you like the app or if there's a feature you think it needs, please let me know.   
        </p>
        <p><i class="fa fa-info-circle"></i> Abode is available on Android and Windows Phone, and you can also access it from any device at <a href="http://www.abodeapp.co.uk">www.abodeapp.co.uk</a>.</p>
    </div>
    <h4>Contact Details:</h4>
    <ul class="list-unstyled">
        <li><i class="fa fa-envelope"></i> <a href="mailto:dwmartin41@gmail.com?Subject=Abode">DWMartin41@gmail.com</a></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/DaveWM">@DaveWM</a></li>
    </ul>
    <h4>For Developers:</h4>
    <p>I'm hoping to release the angular directives I wrote for abode on github shortly, watch this space :).</p>
</div>
