
<div class="col-xs-12">
    <ul class="nav nav-pills nav-stacked">
        <li class="title"><h4>Main</h4></li>
        <li><a ui-sref="app.main.whiteboard"><i class="fa fa-desktop"></i> Whiteboard</a></li>
        <li class="title"><h4>Add New</h4></li>
        <li><a ui-sref="app.main.createNote"><i class="fa fa-clipboard"></i> Note</a></li>
        <li><a ui-sref="app.main.createChore"><i class="fa fa-trash"></i> Chore</a></li>
        <li class="disabled"><a href="#"><i class="fa fa-calendar"></i> Event</a></li>
        <li class="title"><h4>Settings</h4></li>
        <li><a ui-sref="app.main.userSettings({ userId: getCurrentUser().id })"><i class="fa fa-cog"></i> General</a></li>
        <li><a ui-sref="app.main.about"><i class="fa fa-info-circle"></i> About</a></li>
        <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Log Out</a></li>
    </ul>
</div>
