<div class="navbar navbar-metro navbar-fixed-top" data-position=”fixed”>
    <div>
        <div class="navbar-header">
            <div class="navbar-brand"><a ui-sref="app.main.whiteboard"><img src="Content/images/houseIcon.png" class="logo" /><span>{{appName}}</span></a></div>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="btn btn-primary toggleButton" ng-model="sidebar.collapsed" btn-checkbox><i class="fa fa-reorder"></i></a>
                </li>
                <li>
                    <loading-icon large="true" ng-show="isLoading()" class="vertical-center-li"></loading-icon>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">{{userDetails.name}}</p>
                </li>
                <li>
                    <button class="btn btn-primary navbar-btn" ng-click="logout()"><i class="fa fa-sign-out"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>
