<div class="row filtersContainer">
    <h5 ng-click="filtersCollapsed = !filtersCollapsed">Filters <i class="fa fa-chevron-up animate" ng-class="{'rotate-180': !filtersCollapsed}"></i></h5> 
    <div class="col-xs-12 filterControlsContainer" ng-init="filtersCollapsed = true" collapse="filtersCollapsed" style="margin-bottom: 10px">
        <input class="form-control" ng-model="textFilter" placeholder="Type in here to filter" />
        <icon-select selected="selectedItemType" icon-mapping="typeIconMapping"></icon-select>
    </div>
</div>
<div class="text-center spacer row">
    <live-tile ng-repeat="tileItem in tileItems | filter: textFilter | filter: {TileItemType: selectedItemType.name == 'All' ? '' : selectedItemType.name} | orderBy : 'Priority' : true" colour="{{tileTypeMapping[tileItem.TileItemType].colour}}"
               ui-sref="app.main.tileItemDetails({ tileItemId: tileItem.Id})" hover-slide="1" animation="flip-y" size="{{getTileItemSize(tileItem)}}" icons="tileItem.icons">
        <div ng-include="getTileView(tileItem.TileItemType)"></div>
    </live-tile>
    <loading-icon ng-show="loading" large="true"></loading-icon>
    <p class="lead" ng-show="!loading && !tileItems.length">There are no Tile Items to Display. Try adding a Note (link in the sidebar)</p>
</div>
