<div class="text-center spacer">
    <live-tile ng-repeat="tileItem in tileItems" colour="{{tileTypeMapping[tileItem.TileItemType].colour}}" 
               ui-sref="app.main.tileItemDetails({ tileItemId: tileItem.Id})" hover-slide="1" animation="flip-y">
        <div ng-include="getTileView(tileItem.TileItemType)"></div>
    </live-tile>
    <loading-icon ng-show="loading" large="true"></loading-icon>
    <p class="lead" ng-show="!loading && !tileItems.length">There are no Tile Items to Display. Try adding a Note (link in the sidebar)</p>
</div>
